/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* add toggle switch style */
/* app/assets/stylesheets/application.css */
.toggle-button-wrapper {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

#toggle-public-form {
  
}

#toggle-public-button {
  width: 60px;
  height: 30px;
  background-color: #ddd;
  border: none;
  cursor: pointer;
  position: relative;
}

#toggle-public-button:before {
  content: '';
  width: 30px;
  height: 30px;
  background-color: #4CAF50;
  position: absolute;
  transition: 0.3s;
}

#toggle-public-form:checked + #toggle-public-button:before {
  transform: translateX(30px);
}

.toggle-label {
  cursor: pointer;
  font-weight: bold;
  margin-right: 10px;
}
