.public-food-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.public-food-wrapper > h2 {
  margin-bottom: 20px;
}

.mini-wrapper {
  width: 40%;
  margin-bottom: 20px;
}

.public-food-mini-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: white 1px solid;
  padding: 20px;
  margin-bottom: 20px;
}

.shopping-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.valuation-wrapper {
  display: flex;
  justify-content: center;
  gap: 50px;
  font-weight: bold;
  font-size: 20px;
}
